{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="post-form-container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">{{ title }}</h1>
    <a href="/blog/post/new/" class="btn btn-outline-secondary btn-sm">Change type</a>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <div id="poll-fields" class="mt-3" {% if not show_poll_fields %}style="display:none"{% endif %}>
      <h5>Poll options</h5>
      <div class="row g-2">
        <div class="col-md-6"><input type="text" name="option1" class="form-control" placeholder="Option 1" value=""></div>
        <div class="col-md-6"><input type="text" name="option2" class="form-control" placeholder="Option 2" value=""></div>
        <div class="col-md-6"><input type="text" name="option3" class="form-control" placeholder="Option 3 (optional)" value=""></div>
        <div class="col-md-6"><input type="text" name="option4" class="form-control" placeholder="Option 4 (optional)" value=""></div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-link" href="/blog/">Cancel</a>
  </form>
  </div>
{% endblock %}


